.bajar{
	margin-top: 10px;
}
.box{
	border-radius: 4px;
	box-shadow: 0px 2px 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.subir{
	margin-bottom: 15px;
}
html{
	margin: 0px;
	padding: 0px;
}
nav{
	background-repeat: no-repeat;
	background-position: right;
	padding-top: 1em;
    margin-bottom: 0em;
    background: rgb(0, 187, 126);
    
}
.centrar{
	margin-top: 10%;
	
}
.titulo {
    background: rgba(0, 0, 0, .2);
    width: 100%;
    padding-bottom: 0.1em;
    color: white;
    padding-top: 0.1em;
    margin-top: 1em;
}
body{
	font-family: 'Lato', sans-serif;
	background:#eee;
}
.reducir{
	width: 30%;
}

.pacifico{
	font-family: 'pacifico', cursive;
}
.blanco{
	color: white;
}
.mediano{
	font-size: 1.2em;
}
.mover-derecha{
	margin-left: 10px;
}